._divider_a98c6_1{background-color:var(--sui-color-divider);border:none;flex-shrink:0}._horizontal_a98c6_7{width:100%;height:1px;margin:0}._vertical_a98c6_13{align-self:stretch;width:1px;height:100%}
